# SPDX-License-Identifier: MIT
# Copyright: 2026 NiceBots.xyz
name: CI
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  quality:
    uses: ./.github/workflows/quality.yaml
    permissions:
      contents: read
